@import url(variables.css);
*{
    padding: 0;
    margin: 0;
    font-family: "EncodeSans-Regular";
    box-sizing: border-box;
}
.header {
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header__information{
    /* background: green; */
}

.header__login{
    /* background: violet; */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.header__login img{
    width: 100%;
    /* object-fit: contain; */
}
.nav{
    /* background: red; */
    padding: var(--space-layout-padding-lr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__search{
    /* background: yellow; */
    position: relative;
}