<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">
        <section class="main__section">
            <article class="article__product">
                
            </article>
        </section>
        <section class="main__section"></section>
        <section class="main__section"></section>
        <section class="main__section"></section>
    </main>
</body>
</html>