<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>

<body>
    <main class="main">
        <section class="main__section">
            <article class="article__product">
                <div class="product__image">
                    <img src="../storage/img/img1.png" alt="">
                </div>
            </article>
            <div class="product__menu">
                <img src="../storage/img/back.svg" alt="">
                <img src="../storage/img/heartBlack.svg" alt="">
            </div>
        </section>
        <section class="main__section">
            <article class="article__detail">
                <div class="detail__head">
                    <h1>Modern light clothes</h1>
                    <div class="product__select">
                        <img src="../storage/img/minus.svg" alt="">
                        <span>1</span>
                        <img src="../storage/img/plus.svg" alt="">
                    </div>
                </div>
            </article>
        </section>
        <section class="main__section">

        </section>
        <section class="main__section">

        </section>
    </main>
</body>

</html>